

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaboration Form</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="collaboration.css" />
  </head>
  <body>
    <!-- <h2>Lost Item Entry Form</h2> -->
    <!-- <form method="post" action="{% url 'process_item_lost' %}">
        {% csrf_token %}
        <label for="item_name">Item Name :</label>
        <input type="text" name="item_name" required>
        <br>
        <label for="item_descr">Item Description :</label>
        <input type="text" name="item_descr" required>
        <br>
        <button type="submit">Submit</button>
    </form> -->
    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <form method="post" action="{% url 'process_collaboration' %}" class="login">
            {% csrf_token %}
            <div class="login__field">
              <!-- <i class="login__icon fas fa-user"></i> -->
              <label for="collaboration_type"></label>
              <input type="text" name="collaboration_type" required class="login__input" placeholder="Collaboration Type">
            </div>
            <div class="login__field">
              <!-- <i class="login__icon fas fa-lock"></i> -->
              <label for="collaboration_descr"></label>
              <input type="text" name="collaboration_descr" required class="login__input" placeholder="Collaboration Description">
            </div>
            <button class="button login__submit">
              <span class="button__text">Submit</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>				
          </form>
        </div>
        <div class="screen__background">
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>		
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>		
      </div>
    </div>
    </body>
</html>