

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collaboration</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'wordleapp/collaboration.css' %}" />
  </head>
  <body>
    <nav>
      <div class="navbar">
        <div class="container1 nav-container" style="z-index: 2;">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
          <div class="logo">
            <h1></h1>
          </div>
          <div class="menu-items">
            <li><a href="http://127.0.0.1:8000/">Campus Central</a></li>
            <li><a href="http://127.0.0.1:8000/issuecentral/">Issue Center</a></li>
            <li><a href="http://127.0.0.1:8000/lostandfound/">Lost & Found</a></li>
            <li><a href="http://127.0.0.1:8000/collaboration/">Collaboration</a></li>
          </div>
        </div>
      </div>
    </nav>
    <div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; margin:3%; z-index: -1;">
        <a href="http://127.0.0.1:8000/collaborationform/">
            <button>
              <span aria-hidden="true">Post Issue</span>
              <span></span>
              <span>Post Collaboration</span>
            </button> 
            </a>  
      </div>
    <div class="main">
        {% for collab in collabs %}
        <ul class="cards">
          <li class="cards_item">
            <div class="card">
              <!-- <div class="card_image"><img src="https://assets.codepen.io/652/photo-1544510808-91bcbee1df55.jpeg" alt="A side view of a plate of figs and berries. "></div> -->
              <div class="card_content">
                <h2 class="card_title">{{ collab.collaboration_type }}</h2>
                <div class="card_text">
                  <p>{{ collab.collaboration_descr }}</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
       
    {% endfor %}
      </div>

      <div class="left">
        <div class="cat">
          <div class="ears1"></div>
          <div class="head1">
            <div class="eyes1"></div>
            <div class="nose1"></div>
          </div>
          <div class="body1">
            <div class="left-paw1"></div>
            <div class="right-paw1"></div>
          </div>
          <div class="tail1"></div>
          <div class="PRlaptop">
            <div class="PRscreen"></div>
            <div class="PRkeyboard"></div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="dog">
          <div class="ears2"></div>
          <div class="head2">
            <div class="eyes2"></div>
            <div class="nose2"></div>
          </div>
          <div class="body2">
            <div class="left-paw2"></div>
            <div class="right-paw2"></div>
          </div>
          <div class="tail2"></div>
          <div class="ORlaptop">
            <div class="ORscreen"></div>
            <div class="ORkeyboard"></div>
          </div>
        </div>
      </div>
    </body>
</html>