

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Central</title>
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    {% load static %}
    <link rel="stylesheet" href="issuecentral.css" />
  </head>
  <body>
    <nav>
      <div class="navbar" >
        <div class="container1 nav-container" style="z-index: 2;">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
          <div class="logo">
            <h1></h1>
          </div>
          <div class="menu-items">
            <li><a href="http://127.0.0.1:8000/">Campus Central</a></li>
            <li><a href="http://127.0.0.1:8000/issuecentral/">Issue Center</a></li>
            <li><a href="http://127.0.0.1:8000/lostandfound/">Lost & Found</a></li>
            <li><a href="http://127.0.0.1:8000/collaboration/">Collaboration</a></li>
          </div>
        </div>
      </div>
    </nav><div style="display:flex; flex-direction: row; justify-content: space-between; align-items: center; margin:3%; z-index: -1;">
        <a href="http://127.0.0.1:8000/issueform/">
            <button>
              <span aria-hidden="true">Post Issue</span>
              <span></span>
              <span>Post Issue</span>
            </button> 
            </a>  
      </div>
    <div style="display:flex; flex-direction: column; justify-content: space-between; align-items: center; margin:3%; z-index: -1;">
   
 
    {% for issue in issues %}
    <main class="l-card">
        <section class="l-card__text">
            <p>
                {{ issue.issue_descr }}
            </p>
        </section>
        <section class="l-card__user">
            <!-- <div class="l-card__userImage">
                <img src="https://avatars.githubusercontent.com/u/20525486?v=4" alt="Naruto">
            </div> -->
            <div class="l-card__userInfo">
                <span>{{ issue.issue_name }}</span>
                <!-- <span>YOU CAN PUT REGISTRATION NUMBER HERE</span> -->
            </div>
        </section>
    </main>
      
    <div class="containerc">
        <div class="comments-section">
            <div class="row">
                <div class="comment-post">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <p></p>
                        <p class="comment-content">{{ issue.comment1 }}</p>
                    </div>
                </div>
                <div class="comment-post">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <p></p>
                        <p class="comment-content">{{ issue.comment2 }}</p>
                    </div>
                </div>
                <div class="comment-post">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <p></p>
                        <p class="comment-content">{{ issue.comment3 }}</p>
                    </div>
                </div>
                <div class="comment-post">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <p></p>
                        <p class="comment-content">{{ issue.comment4 }}</p>
                    </div>
                </div>
                <div class="comment-post">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-9">
                        <p></p>
                        <p class="comment-content">{{ issue.comment5 }}</p>
                    </div>
                </div>
    
    
                <div class="comment-add">
                    <div class="col-xs-12">
                        <form action="{% url 'process_comment' %}" method='post'>
                            {% csrf_token %}
                        <textarea readonly name="issue_id">{{ issue.id }}</textarea readonly>
                        <textarea name="comment" placeholder="Add Comment"></textarea>
                        <button class="btn btn-default pull-right" type="submit">Add Comment</button></form>
                    </div>
                </div>
    
    
            </div>
          
        </div>
      
    </div>
    {% endfor %}
</div>

  

    </body>
</html>